@import url(../../../css/fonts.css);
@import url(../../../css/reset.css);
@import url(../../../css/modal.css);
@import url(../../../css/header.css);
@import url(../../../css/footer.css);


#main {
   text-align: center;
   font-size: 30px;
   line-height: 200%;
   height: 5800px;
   #section1 {
      width:100%;
      padding: 100px 0;
      .slide-container {
         width: 1140px;
         margin: 0 auto;
         .slide-view {
            .slide-wrap {
                  .up-slide {
                     position: relative;
                     text-align: center;
                     .gap {
                        a {
                              h1 {
                                 font-size: 70px;
                                 font-weight: 400;
                                 color: black;
                                    br {}
                                 }
                              h1 {}
                        }
                     }
                  }
            }
         }
      }
   }
   #section2 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              h1 {
                                 
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 16px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 28px;
                        color: #111;
                        font-weight: 700;
                     }
                     s {
                        font-size: 18px;
                        color: #909090;;
                     }
                     }
                  }
            }
         }
      }

   }
   #section3 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              h1 {
                                 
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 16px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 28px;
                        color: #111;
                        font-weight: 700;
                     }
                     s {
                        font-size: 18px;
                        color: #909090;;
                     }
                     }
                  }
            }
         }
      }

   }
   #section4 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              h1 {
                                 
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 16px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 28px;
                        color: #111;
                        font-weight: 700;
                     }
                     s {
                        font-size: 18px;
                        color: #909090;;
                     }
                     }
                  }
            }
         }
      }

   }
   #section5 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              h1 {
                                 
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 16px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 28px;
                        color: #111;
                        font-weight: 700;
                     }
                     s {
                        font-size: 18px;
                        color: #909090;;
                     }
                     }
                  }
            }
         }
      }

   }
   #section6 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              h1 {
                                 
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 16px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 28px;
                        color: #111;
                        font-weight: 700;
                     }
                     s {
                        font-size: 18px;
                        color: #909090;;
                     }
                     }
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
            }
         }
      }

   }
   #section7 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              h1 {
                                 
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 16px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 28px;
                        color: #111;
                        font-weight: 700;
                     }
                     s {
                        font-size: 18px;
                        color: #909090;;
                     }
                     }
                  }
            }
         }
      }

   }
   #section8 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              h1 {
                                 
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 16px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 28px;
                        color: #111;
                        font-weight: 700;
                     }
                     s {
                        font-size: 18px;
                        color: #909090;;
                     }
                     }
                  }
            }
         }
      }

   }
   #section9 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              h1 {
                                 
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 16px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 28px;
                        color: #111;
                        font-weight: 700;
                     }
                     s {
                        font-size: 18px;
                        color: #909090;;
                     }
                     }
                  }
            }
         }
      }

   }
   #section10 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              h1 {
                                 
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 16px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 28px;
                        color: #111;
                        font-weight: 700;
                     }
                     s {
                        font-size: 18px;
                        color: #909090;;
                     }
                     }
                  }
            }
         }
      }

   }
   #section11 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              h1 {
                                 
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 16px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 28px;
                        color: #111;
                        font-weight: 700;
                     }
                     s {
                        font-size: 18px;
                        color: #909090;;
                     }
                     }
                  }
            }
         }
      }

   }
   #section12 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
               margin-top: 30px;
               padding: 0;
               margin: -100px -15px 0;
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
                  .slide {
                     position: relative;
                     width: 585px;
                     height: 500px;
                     padding: 100px 15px 0;
                     float: left;
                     .gap {
                        a {
                              img {
                                 width: 555px;
                                 height: 279px;
                                 border: 1px solid #e8e8e8;
                              }
                        }
                     }
                  }
                  .content {
                     float: left;
                     text-align: left;
                     h5 {
                        font-size: 16px;
                        margin-bottom: -30px;
                        font-weight: 700;
                     }
                     h4 {
                        height: 16px;
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     
                        span {
                              font-size:28px;
                              font-weight:700;
                              color:#111;
                     }
                     
                  }
            }
         }
      }

   }
}