@import url(../../../css/fonts.css);
@import url(../../../css/reset.css);
@import url(../../../css/modal.css);
@import url(../../../css/header.css);
@import url(../../../css/footer.css);
#main {
  width: 100%;
}
#main #section1 {
  width: 100%;
  padding: 100px 0;
}
#main #section1 .slide-container {
  width: 1140px;
  margin: 0 auto;
}
#main #section1 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  text-align: center;
}
#main #section1 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  font-size: 34px;
  font-weight: 400;
  color: black;
}
#main #section2 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section2 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section2 .slide-container .slide-view .slide-wrap .slide {
  width: 285px;
  float: none;
  height: 405px;
  padding: 0 20px 0;
  margin: 0 auto;
}
#main #section2 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #333;
}
#main #section2 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section2 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section2 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section2 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section2 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section2 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section2 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section2 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section3 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section3 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section3 .slide-container .slide-view .slide-wrap .slide {
  width: 285px;
  float: none;
  height: 405px;
  padding: 60px 30px 0;
  margin: 0 auto;
}
#main #section3 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #333;
}
#main #section3 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section3 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section3 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section3 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section3 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section3 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section3 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section3 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section4 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section4 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section4 .slide-container .slide-view .slide-wrap .slide {
  width: 285px;
  float: none;
  height: 405px;
  padding: 60px 30px 0;
  margin: 0 auto;
}
#main #section4 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #333;
}
#main #section4 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section4 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section4 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section4 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section4 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section4 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section4 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section4 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section5 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section5 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section5 .slide-container .slide-view .slide-wrap .slide {
  width: 285px;
  float: none;
  height: 405px;
  padding: 60px 30px 0;
  margin: 0 auto;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #333;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section5 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section5 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section6 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section6 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section6 .slide-container .slide-view .slide-wrap .slide {
  width: 285px;
  float: none;
  height: 405px;
  padding: 60px 30px 0;
  margin: 0 auto;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #333;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section6 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section6 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section7 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section7 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section7 .slide-container .slide-view .slide-wrap .slide {
  width: 285px;
  float: none;
  height: 405px;
  padding: 60px 30px 0;
  margin: 0 auto;
}
#main #section7 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #333;
}
#main #section7 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section7 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section7 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section7 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section7 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section7 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section7 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section7 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section8 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section8 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section8 .slide-container .slide-view .slide-wrap .slide {
  width: 285px;
  float: none;
  height: 405px;
  padding: 60px 30px 0;
  margin: 0 auto;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #333;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section8 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section8 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section9 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section9 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section9 .slide-container .slide-view .slide-wrap .slide {
  width: 285px;
  float: none;
  height: 405px;
  padding: 60px 30px 0;
  margin: 0 auto;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #333;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section9 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section9 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section10 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section10 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section10 .slide-container .slide-view .slide-wrap .slide {
  width: 285px;
  float: none;
  height: 405px;
  padding: 60px 30px 0;
  margin: 0 auto;
}
#main #section10 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #333;
}
#main #section10 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section10 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section10 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section10 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section10 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section10 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section10 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section10 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section11 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section11 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section11 .slide-container .slide-view .slide-wrap .slide {
  width: 285px;
  float: none;
  height: 405px;
  padding: 60px 30px 0;
  margin: 0 auto;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #333;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section11 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
#main #section11 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h4 {
  font-size: 14px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h3 s {
  font-size: 15px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 16px;
  color: #111;
  font-weight: 700;
}