@import url(../../../css/fonts.css);
@import url(../../../css/reset.css);
@import url(../../../css/modal.css);
@import url(../../../css/header.css);
@import url(../../../css/footer.css);
#main {
  text-align: center;
  font-size: 30px;
  line-height: 200%;
  height: auto;
  margin-bottom: 100px;
}
#main #section1 {
  width: 100%;
  padding: 90px 0 0 260px;
  margin: 0 auto;
  float: left;
}
#main #section1 .slide-container {
  width: 100%;
  padding-left: 100px;
}
#main #section1 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  text-align: left;
}
#main #section1 .slide-container .slide-view .slide-wrap .slide .container a h1 {
  font-size: 28px;
  font-weight: 400;
  color: black;
}
#main #section1 .slide-container .slide-view .slide-wrap .slide .container .right {
  width: 1140px;
  margin-top: -60px;
  text-align: right;
  padding-right: 10px;
}
#main #section1 .slide-container .slide-view .slide-wrap .slide .container .right a {
  padding-right: 3px;
}
#main #section2 {
  width: 100%;
  margin: 0 auto;
}
#main #section2 .slide-container .slide-view .slide-wrap .slide .container img {
  padding: 15px 0 0 0;
}
#main #section3 .text-box {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#main #section3 .text-box .wrap {
  position: relative;
  font-size: 15px;
  padding: 50px;
}
#main #section3 .text-box .wrap li {
  background: #fff;
  display: inline-block;
  width: auto;
  font-size: 15px;
  vertical-align: top;
  border: 1px solid rgb(74, 74, 74);
}
#main #section3 .text-box .wrap li a {
  position: relative;
  display: block;
  height: 47px;
  padding: 0 30px 0 10px;
  font-size: 15px;
  color: #aaa;
  letter-spacing: -1px;
  line-height: 47px;
}
#main #section4 {
  width: 1140px;
  margin: 0 auto;
  padding-top: -20px;
}
#main #section4 .container .view .wrap .slide .gap a h1 {
  text-align: left;
}
#main #section4 .container .view .wrap .slide .gap a .btn-top {
  text-align: right;
  font-size: 12px;
  color: #959595;
  cursor: pointer;
}
#main #section5 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section5 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section5 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 40px 20px 0;
}
#main #section5 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section5 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section5 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section5 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section5 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section5 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section6 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section6 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section6 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 50px 20px 0;
}
#main #section6 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  color: #333;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section6 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section6 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section6 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section6 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  color: #333;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section6 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section7 {
  width: 1140px;
  margin: 0 auto;
  padding-top: 80px;
}
#main #section7 .container .view .wrap .slide .gap a h1 {
  text-align: left;
}
#main #section7 .container .view .wrap .slide .gap a .btn-top {
  text-align: right;
  font-size: 12px;
  color: #959595;
  cursor: pointer;
}
#main #section8 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section8 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section8 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 40px 20px 0;
}
#main #section8 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section8 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section8 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section8 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section8 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section8 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section9 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section9 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section9 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 50px 20px 0;
}
#main #section9 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  color: #333;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section9 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section9 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section9 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section9 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  color: #333;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section9 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section10 {
  width: 1140px;
  margin: 0 auto;
  padding-top: 80px;
}
#main #section10 .container .view .wrap .slide .gap a h1 {
  text-align: left;
}
#main #section10 .container .view .wrap .slide .gap a .btn-top {
  text-align: right;
  font-size: 12px;
  color: #959595;
  cursor: pointer;
}
#main #section11 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section11 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section11 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 40px 20px 0;
}
#main #section11 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section11 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section11 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section11 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section11 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section11 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section12 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section12 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section12 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 40px 20px 0;
}
#main #section12 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section12 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
}
#main #section12 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section12 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section12 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section12 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section12 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section12 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section12 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section12 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section12 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section12 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section12 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section13 {
  width: 1140px;
  margin: 0 auto;
  padding-top: 80px;
}
#main #section13 .container .view .wrap .slide .gap a h1 {
  text-align: left;
}
#main #section13 .container .view .wrap .slide .gap a .btn-top {
  text-align: right;
  font-size: 12px;
  color: #959595;
  cursor: pointer;
}
#main #section14 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section14 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section14 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 40px 20px 0;
}
#main #section14 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section14 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
}
#main #section14 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section14 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section14 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section14 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section14 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section14 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section14 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section14 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section14 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section14 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section14 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section15 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section15 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section15 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 40px 20px 0;
}
#main #section15 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section15 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 10px;
  color: #333;
}
#main #section15 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section15 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section15 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section15 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section15 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section15 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section15 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section15 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section15 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section15 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section15 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section16 {
  width: 1140px;
  margin: 0 auto;
  padding-top: 80px;
}
#main #section16 .container .view .wrap .slide .gap a h1 {
  text-align: left;
}
#main #section16 .container .view .wrap .slide .gap a .btn-top {
  text-align: right;
  font-size: 12px;
  color: #959595;
  cursor: pointer;
}
#main #section17 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section17 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section17 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 40px 20px 0;
}
#main #section17 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section17 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
}
#main #section17 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section17 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section17 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section17 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section17 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section17 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section17 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section17 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section17 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section17 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section17 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section18 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section18 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section18 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 40px 20px 0;
}
#main #section18 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section18 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 10px;
  color: #333;
}
#main #section18 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section18 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section18 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section18 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section18 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section18 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section18 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section18 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section18 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section18 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section18 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section19 {
  width: 1140px;
  margin: 0 auto;
  padding-top: 80px;
}
#main #section19 .container .view .wrap .slide .gap a h1 {
  text-align: left;
}
#main #section19 .container .view .wrap .slide .gap a .btn-top {
  text-align: right;
  font-size: 12px;
  color: #959595;
  cursor: pointer;
}
#main #section20 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section20 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section20 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 40px 20px 0;
}
#main #section20 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section20 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
}
#main #section20 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section20 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section20 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section20 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section20 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section20 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section20 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section20 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section20 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section20 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section20 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}
#main #section21 {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section21 .slide-container .slide-view .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section21 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  float: left;
  width: 228px;
  padding: 40px 20px 0;
}
#main #section21 .slide-container .slide-view .slide-wrap .slide .gap a img {
  width: 188px;
  height: 188px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content {
  text-align: left;
}
#main #section21 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 10px;
  color: #333;
}
#main #section21 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section21 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section21 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section21 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section21 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section21 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section21 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section21 .slide-container .slide-view .slide-wrap .slide .gap a h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
#main #section21 .slide-container .slide-view .slide-wrap .content h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}
#main #section21 .slide-container .slide-view .slide-wrap .content h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #333;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p {
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p s {
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p em {
  color: #f33f46;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p span {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
#main #section21 .slide-container .slide-view .slide-wrap .content p .won {
  font-size: 14px;
  font-weight: 700;
  color: #111;
}