@import url(../../../css/fonts.css);
@import url(../../../css/reset.css);
@import url(../../../css/modal.css);
@import url(../../../css/header.css);
@import url(../../../css/footer.css);


#main {
   width:100%;
   #section1 {
      width:100%;
      padding: 100px 0;
      .slide-container {
         width: 1140px;
         margin: 0 auto;
         .slide-view {
            .slide-wrap {
                  .slide {
                     position: relative;
                     text-align: center;
                     .gap {
                        a {
                              h1 {
                                 font-size: 34px;
                                 font-weight: 400;
                                 color: black;
                                    br {}
                                 }
                              h1 {}
                        }
                     }
                  }
            }
         }
      }
   }
   #section2 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
                              width: 1140px;
                              position: relative;
                              margin: 0 auto;
                              display: flex;
                              justify-content: center;
                  .slide {
                     width: 285px;
                     float: none;
                     height: 405px;
                     padding: 0 20px 0;
                     margin: 0 auto;
                     .gap {
                        a {
                              img {
                                 
                              }
                        }
                     }
                  }
                  .content {
                     

                     h5 {
                        
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 120%;
                        color: #333;
                     }
                     h4 {
                        
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
            }
         }
      }

   }
   #section3 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
                              width: 1140px;
                              position: relative;
                              margin: 0 auto;
                              display: flex;
                              justify-content: center;
                  .slide {
                     width: 285px;
                     float: none;
                     height:405px;
                     padding: 60px 30px 0;
                     margin: 0 auto;
                     .gap {
                        a {
                              img {
                                 
                              }
                        }
                     }
                  }
                  .content {
                     

                     h5 {
                        
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 120%;
                        color: #333;
                     }
                     h4 {
                        
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
            }
         }
      }

   }
   #section4 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
                              width: 1140px;
                              position: relative;
                              margin: 0 auto;
                              display: flex;
                              justify-content: center;
                  .slide {
                     width: 285px;
                     float: none;
                     height: 405px;
                     padding: 60px 30px 0;
                     margin: 0 auto;
                     .gap {
                        a {
                              img {
                                 
                              }
                        }
                     }
                  }
                  .content {
                     

                     h5 {
                        
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 120%;
                        color: #333;
                     }
                     h4 {
                        
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
            }
         }
      }

   }
   #section5 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
                              width: 1140px;
                              position: relative;
                              margin: 0 auto;
                              display: flex;
                              justify-content: center;
                  .slide {
                     width: 285px;
                     float: none;
                     height: 405px;
                     padding: 60px 30px 0;
                     margin: 0 auto;
                     .gap {
                        a {
                              img {
                                 
                              }
                        }
                     }
                  }
                  .content {
                     

                     h5 {
                        
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 120%;
                        color: #333;
                     }
                     h4 {
                        
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
            }
         }
      }

   }
   #section6 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
                              width: 1140px;
                              position: relative;
                              margin: 0 auto;
                              display: flex;
                              justify-content: center;
                  .slide {
                     width: 285px;
                     float: none;
                     height: 405px;
                     padding: 60px 30px 0;
                     margin: 0 auto;
                     .gap {
                        a {
                              img {
                                 
                              }
                        }
                     }
                  }
                  .content {
                     

                     h5 {
                        
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 120%;
                        color: #333;
                     }
                     h4 {
                        
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
            }
         }
      }

   }
   #section7 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
                              width: 1140px;
                              position: relative;
                              margin: 0 auto;
                              display: flex;
                              justify-content: center;
                  .slide {
                     width: 285px;
                     float: none;
                     height: 405px;
                     padding: 60px 30px 0;
                     margin: 0 auto;
                     .gap {
                        a {
                              img {
                                 
                              }
                        }
                     }
                  }
                  .content {
                     

                     h5 {
                        
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 120%;
                        color: #333;
                     }
                     h4 {
                        
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
            }
         }
      }

   }
   #section8 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
                              width: 1140px;
                              position: relative;
                              margin: 0 auto;
                              display: flex;
                              justify-content: center;
                  .slide {
                     width: 285px;
                     float: none;
                     height: 405px;
                     padding: 60px 30px 0;
                     margin: 0 auto;
                     .gap {
                        a {
                              img {
                                 
                              }
                        }
                     }
                  }
                  .content {
                     

                     h5 {
                        
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 120%;
                        color: #333;
                     }
                     h4 {
                        
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
            }
         }
      }

   }
   #section9 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
                              width: 1140px;
                              position: relative;
                              margin: 0 auto;
                              display: flex;
                              justify-content: center;
                  .slide {
                     width: 285px;
                     float: none;
                     height: 405px;
                     padding: 60px 30px 0;
                     margin: 0 auto;
                     .gap {
                        a {
                              img {
                                 
                              }
                        }
                     }
                  }
                  .content {
                     

                     h5 {
                        
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 120%;
                        color: #333;
                     }
                     h4 {
                        
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
            }
         }
      }

   }
   #section10 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
                              width: 1140px;
                              position: relative;
                              margin: 0 auto;
                              display: flex;
                              justify-content: center;
                  .slide {
                     width: 285px;
                     float: none;
                     height: 405px;
                     padding: 60px 30px 0;
                     margin: 0 auto;
                     .gap {
                        a {
                              img {
                                 
                              }
                        }
                     }
                  }
                  .content {
                     

                     h5 {
                        
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 120%;
                        color: #333;
                     }
                     h4 {
                        
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
            }
         }
      }

   }
   #section11 {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      .slide-container {
         .slide-view {
            .slide-wrap {
                              width: 1140px;
                              position: relative;
                              margin: 0 auto;
                              display: flex;
                              justify-content: center;
                  .slide {
                     width: 285px;
                     float: none;
                     height: 405px;
                     padding: 60px 30px 0;
                     margin: 0 auto;
                     .gap {
                        a {
                              img {
                                 
                              }
                        }
                     }
                  }
                  .content {
                     

                     h5 {
                        
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 120%;
                        color: #333;
                     }
                     h4 {
                        
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
                  .slide {
                     .gap {
                        a {
                              h1 {
                                 text-align: center;
                                 font-size: 28px;
                                 font-weight: 400;
                              }
                        }
                     }
                  }
                  .content {
                     h5 {
                        font-size: 14px;
                        font-weight: 700;
                     }
                     h4 {
                        font-size: 14px;
                        font-weight: 400;
                     }
                     h3 {
                        s {
                              font-size: 15px;
                              font-weight: 400;
                        }
                     }
                     p {
                        em {
                              color:#f33f46;
                              font-size:24px;
                              font-weight:400;
                        }
                        span {
                              font-size:24px;
                              font-weight:700;
                              color:#111;
                     }
                     span {
                        font-size: 16px;
                        color: #111;
                        font-weight: 700;
                     }
                     }
                  }
            }
         }
      }

   }
}