@import url(../../../css/fonts.css);
@import url(../../../css/reset.css);
@import url(../../../css/modal.css);
@import url(../../../css/header.css);
@import url(../../../css/footer.css);
#main {
  text-align: center;
  font-size: 30px;
  line-height: 200%;
  height: auto;
  margin-bottom: 80px;
}
#main #section1 {
  width: 100%;
  padding: 100px 0;
}
#main #section1 .slide-container {
  width: 1140px;
  margin: 0 auto;
}
#main #section1 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  text-align: center;
}
#main #section2 {
  width: 100%;
  padding: 24px 0 100px;
  margin: 0 295px 0 0;
}
#main #section2 .in-img-banner {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
#main #section2 .in-img-banner .img_banner .scope a {
  color: #111;
}
#main #section2 .in-img-banner .img_banner .scope a img {
  width: 100%;
  height: 340px;
}
#main #section2 .in-corner {
  position: relative;
  padding: 65px 0 0;
  background: #fff;
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
#main #section2 .in-corner .col2 {
  margin: 0 -15px;
}
#main #section2 .in-corner .col2 .scope2 {
  padding: 0 15px;
  float: left;
  width: 50%;
}
#main #section2 .in-corner .col2 .scope2 a {
  position: relative;
  display: block;
  color: #111;
  cursor: pointer;
}
#main #section2 .in-corner .col2 .scope2 a .thumb {
  display: block;
}
#main #section2 .in-corner .col2 .scope2 a .thumb img {
  width: 100%;
  height: 100%;
}
#main #section2 .in-corner .col2 .scope2 {
  padding: 0 15px;
  float: left;
  width: 50%;
}
#main #section2 .in-corner .col2 .scope2 a {
  position: relative;
  display: block;
  color: #111;
  cursor: pointer;
}
#main #section2 .in-corner .col2 .scope2 a .thumb {
  display: block;
}
#main #section2 .in-corner .col2 .scope2 a .thumb img {
  width: 100%;
  height: 100%;
}
#main #section3 {
  width: 100%;
  padding: 20px 0px;
}
#main #section3 .slide-container {
  width: 1140px;
  margin: 0 auto;
}
#main #section3 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  text-align: center;
}
#main #section4 .slide-container .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#main #section4 .slide-container .slide-wrap .slide {
  margin-top: 28px;
  padding: 0 15px;
  list-style: none;
}
#main #section4 .slide-container .slide-wrap .slide .gap a {
  position: relative;
  display: block;
}
#main #section4 .slide-container .slide-wrap .slide .gap a span {
  width: 360px;
  height: 220px;
}
#main #section4 .slide-container .slide-wrap .slide .gap a .imgtit {
  background: rgba(255, 255, 255, 0.5);
  color: #111;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 18px 20px 0;
  color: #fff;
  line-height: 20px;
  text-align: left;
}
#main #section4 .slide-container .slide-wrap .slide .gap a .imgtit strong {
  height: 20px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
}
#main #section4 .slide-container .slide-wrap .slide .gap a .imgtit p {
  height: 18px;
  font-size: 14px;
  line-height: 18px;
}
#main #section4 .slide-container .slide-wrap .slide {
  margin-top: 28px;
  padding: 0 15px;
}
#main #section4 .slide-container .slide-wrap .slide .gap a {
  position: relative;
  display: block;
}
#main #section4 .slide-container .slide-wrap .slide .gap a span {
  width: 360px;
  height: 220px;
}
#main #section4 .slide-container .slide-wrap .slide .gap a .imgtit {
  position: absolute;
  height: 70px;
  padding: 13px 10px 0;
  color: #fff;
  line-height: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
#main #section4 .slide-container .slide-wrap .slide .gap a .imgtit strong {
  height: 20px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
}
#main #section4 .slide-container .slide-wrap .slide .gap a .imgtit p {
  height: 18px;
  font-size: 14px;
  line-height: 18px;
}
#main #section4 .slide-container .slide-wrap .slide {
  margin-top: 28px;
  padding: 0 15px;
}
#main #section4 .slide-container .slide-wrap .slide .gap a {
  position: relative;
  display: block;
}
#main #section4 .slide-container .slide-wrap .slide .gap a span {
  width: 360px;
  height: 220px;
}
#main #section4 .slide-container .slide-wrap .slide .gap a .imgtit {
  position: absolute;
  height: 70px;
  padding: 13px 10px 0;
  color: #fff;
  line-height: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
#main #section4 .slide-container .slide-wrap .slide .gap a .imgtit strong {
  height: 20px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
}
#main #section4 .slide-container .slide-wrap .slide .gap a .imgtit p {
  height: 18px;
  font-size: 14px;
  line-height: 18px;
}
#main #section5 .slide-container .slide-wrap {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-right: 550px;
}
#main #section5 .slide-container .slide-wrap .slide {
  margin-top: 28px;
  padding: 0 15px;
  list-style: none;
}
#main #section5 .slide-container .slide-wrap .slide .gap a {
  position: relative;
  display: block;
}
#main #section5 .slide-container .slide-wrap .slide .gap a span {
  width: 360px;
  height: 220px;
}
#main #section5 .slide-container .slide-wrap .slide .gap a .imgtit {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 18px 20px 0;
  color: #fff;
  line-height: 20px;
  text-align: center;
}
#main #section5 .slide-container .slide-wrap .slide .gap a .imgtit strong {
  height: 20px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
}
#main #section5 .slide-container .slide-wrap .slide .gap a .imgtit p {
  height: 18px;
  font-size: 14px;
  line-height: 18px;
}